html,body {
  line-height: 1;
  font-weight: 200;
}

/* own */
a {
  text-decoration: none;
}

.clearfix{
  display: inline-block;
}
.clearfix::after{
  display: block;
  content: '';
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

/* 1 像素线 */
.border-btm{
  height:1px;
  background:#ccc;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin:0 0;
  overflow: hidden;
}
